.colapso-mundial-login {
  display: flex;
  width: 100%;
  min-height: 100svh;
}

.imgFondoLogin {
  display: none;
}

.div-login-block2 {
  width: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  padding: 20px; 
}

.centrarmundo-madre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centrarmundo-hija {
  border: 1px solid white;
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(134, 134, 134, 0.568);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 20px;
  border-radius: 8px;
  border-radius: 5px;
}

.login-largo {
  font-size: 20px;
}

.input-format {
  width: 100%;
  max-width: 400px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(134, 134, 134, 0.2);
}

@media (min-width: 768px) {
  .imgFondoLogin {
    display: block;
    width: 60%;
    max-width: 60%;
    height: 100svh;
    object-fit: cover;
    filter: blur(3px);
  }

  .div-login-block2 {
    width: 40%;
    padding: 0;
  }
}